<template>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Craeted</th>
            <th scope="col">Nro transactions</th>
            <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                <template v-if="!categories.length">
                    <tr>
                        <td colspan="5" class="text-center">No Categories Available</td>
                    </tr>
                </template>                
                
                <template v-else>
                    <tr v-for="category in categories">
                        <td>{{ category.name }}</td>
                        <td>{{ category.descripcion }}</td>
                        <td>{{ category.created_at }}</td>
                        <td>2</td>
                        <td>
                            <router-link :to="`/Categories/${category.id}`" class="btn btn-primary btn-icon" data-toggle="tooltip" data-placement="bottom" title="Editar Categoria"><i class="far fa-edit"></i></router-link>
                            <router-link :to="`/Categories/${category.id}`" class="btn btn-danger btn-icon" data-toggle="tooltip" data-placement="bottom" title="Eliminar Categoria"><i class="far fa-trash-alt"></i></router-link>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</template>


<script>
    export default {
        name: 'categories-list',
        mounted(){
            this.$store.dispatch('getCategories')
        },
        computed: {
            categories() {
                return this.$store.getters.categories;
            }
        },
        beforeUpdate(){
             this.$store.dispatch('getCategories')
        }
    }
</script>

