<template>
    <div class="col-md-12">
        <div class="card card-default">
            <div class="row card-body">
                <div class="col-md-12">
                    <h2 class="card-title">Categorias</h2>
                    <span data-toggle="modal" data-target="#newCategoryModal">
                        <button class="btn btn-success float-right"  data-toggle="tooltip" data-placement="bottom" title="Crea una nueva Categoria"><i class="fas fa-plus"></i>Crear</button>
                    </span>
                </div>
                <CategoriesList/>
            </div>
        </div>
        <Modal :datoModal="datoModal">
            <template v-slot:body>
                <div class="container-fluid">
                    <form @submit.prevent="newCategory">
                        <div class="form-group row">
                            <input type="text" name="name" class="form-control" :class="errors && errors.name ? 'imput-error' : '' "  v-model="formNewCategory.name" placeholder="Name">
                            
                            <template v-if="errors">
                                <ul class="list-unstyled">
                                    <li v-for="msj in errors.name" class="error" >
                                        {{ msj }} 
                                    </li>
                                </ul>
                            </template>                             
                        </div>

                        <div class="form-group row">
                            <input type="text" name="descripcion" class="form-control" :class="errors && errors.descripcion ? 'imput-error' : '' "  v-model="formNewCategory.descripcion" placeholder="descripcion">
                            
                            <template v-if="errors">
                                <ul class="list-unstyled">
                                    <li v-for="msj in errors.descripcion" class="error" >
                                        {{ msj }} 
                                    </li>
                                </ul>
                            </template>                             
                        </div>
                        <div class="form-group row float-right">
                            <button type="submit" class="btn btn-success btn-lg float-right"><i class="far fa-save"></i>Guardar</button>
                        </div>
                    </form>
                </div>
            </template>
        </Modal>
    </div>
</template>

<script>
    import CategoriesList from './CategoriesList.vue'
    import Modal from './../Modal.vue'
    import validate from 'validate.js'
    import { newCategory , CategoryMessageError , CategoryMessageSave } from '../../helpers/categories'

    export default {
        name: 'categories-main',
        data(){
            return{
                datoModal: {
                    id: 'newCategoryModal',
                    title: 'Nueva Categoria',
                    footer: false
                },
                formNewCategory: {
                    name: '',
                    descripcion: ''
                },
                errors: null        
            }
        },
        methods:{
            newCategory(){
                this.errors = null
                const constraints = this.getConstraints()
                const errorsValidation = validate(this.$data.formNewCategory, constraints)

                if(errorsValidation) {
                    this.errors = errorsValidation
                    return
                }

                newCategory(this.$data.formNewCategory)
                    .then(res => {

                        $(`#${ this.datoModal.id}`).modal('hide')
                        CategoryMessageSave()
                    })
                    .catch(errors => {
                        CategoryMessageError()
                })

            },
            getConstraints() {
                return {
                    name: {
                        presence: {
                            allowEmpty: false,
                            message: "is required"
                        },
                        length: {
                            minimum: 6,
                            message: 'Must be at least 6 characters long'
                        }                    
                    },
                    descripcion: {
                       presence: {
                            allowEmpty: false,
                            message: "is required"
                        },
                       length: {
                            minimum: 10,
                            message: 'Must be at least 10 characters long'
                        } 
                    }
                };
            }
        },
        components: {CategoriesList, Modal}
    }
</script>
<style scoped>
    h2.card-title{
        display: inline-block;
    }
</style>