
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//datatable
@import '~datatables.net-dt/css/jquery.dataTables.min.css';

.btn i{
	padding-right: 5px;
}

.btn-icon i{
	padding-right: 0px !important;
}
.imput-error{
	border-color: #dc3545;
}