<template>    
    <div class="login col-md-4">
        <div class="card">
            <div class="card-body">
                <form @submit.prevent="authenticate">
                    <div class="form-group row">
                        <label for="email">Email:</label>
                        <input type="email" v-model="form.email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group row">
                        <label for="password">Password:</label>
                        <input type="password" v-model="form.password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>        
</template>

<script>
    import {login , messageAuth} from '../../helpers/auth';
    import Loader from '../Loader.vue';

    export default {
        name: "login",
        components: {Loader},
        data() {
            return {
                form: {
                    email: '',
                    password: ''
                },
                error: null
            }
        },
        methods: {
            authenticate() {
                this.$store.dispatch('login');
                login(this.$data.form)
                    .then((res) => {
                        this.$store.commit("loginSuccess", res);
                        this.$router.push({path: '/'});
                    })
                    .catch((error) => {
                        this.$store.commit("loginFailed", {error});
                        messageAuth(3000, 'error', this.$store.getters.authError)
                    });
            }           
        }
    }
</script>

<style scoped>
    .login .card{
        padding: 10px;
    }
</style>