<template>
    <div class="register col-md-6">
        <div class="card">
            <div class="card-body">
                <form @submit.prevent="register">
                    <div class="form-group row">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" :class="errors && errors.name ? 'imput-error' : '' "  v-model="formRegister.name" placeholder="Name">
                        
                        <template v-if="errors">
                            <ul class="list-unstyled">
                                <li v-for="msj in errors.name" class="error" >
                                    {{ msj }} 
                                </li>
                            </ul>
                        </template> 
                        
                    </div>
                    <div class="form-group row">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" :class="errors && errors.email ? 'imput-error' : '' " v-model="formRegister.email" placeholder="Email address">

                        <template v-if="errors">
                            <ul class="list-unstyled">
                                <li v-for="msj in errors.email" class="error" >
                                    {{ msj }} 
                                </li>
                            </ul>
                        </template> 

                    </div>
                    <div class="form-group row">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" :class="errors && errors.password ? 'imput-error' : '' " v-model="formRegister.password" placeholder="password">

                        <template v-if="errors">
                            <ul class="list-unstyled">
                                <li v-for="msj in errors.password" class="error" >
                                    {{ msj }} 
                                </li>
                            </ul>
                        </template>                         

                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import {register, messageAuth } from '../../helpers/auth'
    import validate from 'validate.js'

export default {
    data(){
        return {
            formRegister: {
                name: '',
                email: '',
                password: ''
            },
            errors: null
        }
    },
    methods:{
        register(){  

            this.errors = null;
            const constraints = this.getConstraints();
            const errorsValidation = validate(this.$data.formRegister, constraints);
            if(errorsValidation) {
                this.errors = errorsValidation
                return
            }

            register(this.$data.formRegister)
            .then(res => {
                   
                this.$store.commit("registerSuccess", res);
                this.$router.push({path: '/'});
            })
            .catch(errors => {
                this.$store.commit("registerFailed", {errors});
                messageAuth(3000, 'error', 'algo salio mal')

            })
            
        },
        getConstraints() {
            return {
                name: {
                    presence: {
                        allowEmpty: false,
                        message: "is required"
                    },
                    length: {
                        minimum: 6,
                        message: 'Must be at least 6 characters long'
                    }                    
                },
                email: {
                   presence: {
                        allowEmpty: false,
                        message: "is required"
                    },
                    email: true
                },
                password: {
                   presence: {
                        allowEmpty: false,
                        message: "is required"
                    },
                    length: {
                        minimum: 6,
                        message: 'Must be at least 6 characters long'
                    }
                }
            };
        },

        addClasserror(input){
            input = document.getElementsByName(input)
            input.addClass('imput-error')
        }

    }        
}
</script>
<style >
    .register .card{
        padding: 10px;
    }
    li.error{
        color: red;
        margin-left: 10px;
    }
</style>