<template>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <router-link to="/" class="navbar-brand">{{ nameApp }}</router-link> 
      <template v-if="currentUser">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <router-link to="/Categories" class="nav-link">Categorías</router-link> 
          </li>
        </ul>
      </template>

    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <template v-if="currentUser">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ currentUser.name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a @click.prevent="logout" class="dropdown-item" href="#">Logout</a>
          </div>
        </li>        
      </template>
      <template v-else>
        <li class="nav-item">
          <router-link to="/login" class="nav-link">Login</router-link> 
        </li>
        <li class="nav-item">
          <router-link to="/register" class="nav-link">Register</router-link> 
        </li>        
      </template>
    </ul>

  </div>
</nav>	
</template>
<script>
  export default{
    methods: {
        logout() {
            this.$store.commit('logout');
            this.$router.push('/login');
        }
    },
    computed: {
        nameApp() {
            return this.$store.getters.getNameApp;
        },     
        currentUser() {
            return this.$store.getters.currentUser
        }
    }    
  }
</script>
<style scoped>
  .dropdown-menu.show{
    left: -20px;
  }
</style>