<template>
    <div class="col-md-8">
        <div class="card card-default">
            <div class="card-header">Vue.JS SPA example</div>
            <div class="card-body">
                <h2>{{ wellcome }}</h2>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'home',
        computed: {
            wellcome () {
                return this.$store.getters.wellcome
            }
        }
    }
</script>