<template>
    <div id="main">
        <Header/>
        <div class="container">
            <div class="row justify-content-center">
                <router-view></router-view>
            </div>
        </div>

    </div>
</template>

<script>
    import Header from './Header.vue'
    export default {
        name: 'main-app',
        components: {Header}
    }
</script>

<style scoped>
    .container{
        margin-top: 20vh;
    } 
</style>
