<template>
	<div class="modal fade" :id="datoModal.id" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="ModalCenterTitle">{{ datoModal.title }}</h5>
	        <button  type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <slot name="body"></slot>
	      </div>
	      <div v-if="datoModal.footer" class="modal-footer">
	      	<template v-if="datoModal.btnCosedTitle">
	        	<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ datoModal.btnCosedTitle }}</button>
	      	</template>
	      </div>
	    </div>
	  </div>
	</div>	
</template>
<script>
export default {
  props: {
    datoModal: { type: Object, required: true }
  }
}
</script>

<style lang="css">
</style>